// 颜色定义规范
$color-primary: #31c27c;
$color-background : #FFF;
$color-background-d : #f4f4f4;
$color-highlight-background : #333;
$color-dialog-background : #666;
$color-theme : #31c27c;
$color-theme-d : rgba(255, 205, 49, 0.5);
$color-sub-theme : #d93f30;
$color-text : #777;
$color-text-d : rgba(0, 0, 0, .8);
$color-text-l : rgba(0,0,0,.6);
$color-text-f : rgba(255, 255, 255, 0.1);

//字体定义规范
$font-size-small-s : 10px;
$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-x : 22px;
